* {
    font-family: Helvetica;
}
body {
    background-color: LightSalmon;
    text-align: center;
}
#lewy-gorny {
    float: left;
    width: 30%;
    height: 400px;
}
#lewy-dolny {
    float: left;
    background-color: DarkSalmon;
    width: 30%;
    height: 100px;
}
#prawy {
    float: left;
    background-color: DarkSalmon;
    width: 70%;
    height: 500px;
    overflow: auto;
}
img {
    width: 100%;
}
#filtr {
    font-style: italic;
    font-size: 200%;
    padding: 10px;
}
#filtr:hover {
    color: GhostWhite;
}
table {
    border: 1px dotted Maroon;
    width: 70%;
    margin: auto;
}
td {
    border: 1px dotted Maroon;
}
