* {
    font-family: "Comic Sans MS", sans-serif;
}

header {
    float: left;
    width: 70%;
    text-align: center;
    background-color: PaleTurquoise;
    border-radius: 20px;
    height: 100px;
    padding: 2%;
}

main {
    float: left;
    width: 70%;
    text-align: center;
}

aside {
    float: right;
    width: 25%;
    height: 700px;
    background-color: PaleTurquoise;
    border-radius: 20px;
    line-height: 2;
}

footer {
    clear: both;
    padding-top: 10px;
}

section {
    border: 1px dashed DimGray;
    margin: 10px 50px;
    height: 400px;
    overflow: auto;
}

.miniatury {
    height: 200px;
    padding: 10px;
    opacity: 0.8;
    transition: opacity 1s;
}

.miniatury:hover {
    opacity: 1;
}
