* { font-family: Verdana; }
aside { float: left; width: 20%; height: 610px; }
aside img { width: 100%; height: 610px; }
header, footer, nav { background-color: MediumPurple; color: white; width: 80%; height: 50px; text-align: center; text-shadow: 4px 4px DimGray; float: right; }
nav { padding-top: 10px; }
main { background-color: Thistle; width: 80%; height: 450px; overflow: auto; float: right; }
li button { float: right; background-color: MediumPurple; color: white; height: 30px; border: none; }
ul { margin: 40px auto; width: 70%; font-size: 25px; border: 2px solid MediumPurple; list-style-type: none; padding: 0; }
li { padding: 10px; }
li:nth-child(even) { background-color: #DDCADD; }
li:hover { background-color: Lavender; }
header h2, footer h3 { margin: 0; }
