* {
    font-family: Roboto, Serif;
}
header {
    background-color: Crimson;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}
main:nth-of-type(1) {
    background-color: MistyRose;
    height: 300px;
    padding: 10px;
    margin: 10px 50px;
    border: 1px solid Crimson;
}
main:nth-of-type(1) img {
    float: left;
    height: 100%;
}
.oferta {
    display: inline-block;
    vertical-align: top;
    background-color: Snow;
    height: 450px;
    width: 21%;
    margin: 1%;
    text-align: center;
    border: 1px solid Crimson;
}
footer {
    background-color: Crimson;
    color: white;
}
img {
    max-width: 100%;
}
h4 {
    font-size: 180%;
    text-align: center;
    color: Crimson;
}
a {
    color: white;
}
