* { font-family: Georgia; }
header { background-color: Navy; color: white; text-align: center; height: 100px; width: 50%; float: left; }
nav { background-color: Navy; padding: 20px; clear: both; }
.opcja { color: Silver; margin: 50px; }
.opcja:hover { color: white; text-decoration: underline; }
main, aside { background-color: Azure; height: 550px; float: left; }
main { width: 70%; }
aside { width: 30%; }
footer { background-color: Navy; color: white; clear: both; }
table { border: 1px solid Navy; margin: auto; width: 70%; }
tr:hover { background-color: SkyBlue; }
aside img { width: 90%; }
