* { font-family: "Century Gothic", Arial; }
body { background-color: BlanchedAlmond; }
header, footer { background-color: Sienna; color: white; padding: 5px; text-align: center; font-size: 130%; }
#lewy { background-color: NavajoWhite; margin: 10px; padding: 20px; width: 35%; height: 400px; box-shadow: 5px 5px 10px DimGray; float: left; }
nav { width: 50%; height: 50px; float: left; }
#prawy { width: 50%; height: 420px; overflow: auto; float: left; }
input, button { margin: 20px 0 0 0; }
li { display: inline-block; }
img { width: 10%; float: left; }
a { color: Sienna; margin: 0 30px 0 0; }
a:hover { color: #4C1900; }
footer { clear: both; }
